<div class="body" body >
    <div class="login">
        <mat-spinner *ngIf = "loading " class = "spinner" diameter = "50"></mat-spinner>
        <form *ngIf= "!loading" [formGroup]="form" > 
            <h2 class ="tituloInicial">¡Bienvenido a Comerciante Espacial!</h2>
            <!-- <img src="" width= "50%"> -->
            <h2>Por favor inicia sesión para iniciar con una aventura única</h2>
            
            <h1></h1>
            <mat-form-field class = "ancho" appearance="fill" >
                <mat-label>Ingrese su username: entrega2</mat-label>
                <input type="email" name="usuario" formControlName="usuario" required matInput autocomplete="off"> 
            </mat-form-field>
            <mat-form-field class = "ancho" appearance="fill">
                <mat-label>Ingrese su contraseña: password</mat-label>
                <input name="password" type = "password" formControlName="password" required matInput autocomplete="off">
            </mat-form-field>
            <button  type = "submit" class = "ancho button" mat-raised-button color="primary" (click)="ingresar()">Ingresar</button>
            <button  class = "ancho button" mat-raised-button color="accent" routerLink = "/registro">Crear cuenta</button>
        </form>
    </div>
</div>
