<html>
   <body>
       <img class="imagenEspacio" src="./assets/imagenes/espacio_exterior.jpg">
        <div class="divSuperior">
            <button class="botonUsuario">
                <img class="imgUsuario" src="./assets/imagenes/usuario.png">
            </button>
            <button class="botonLogout">
                <img class="imgLogout" src="./assets/imagenes/icon_logout.png">
            </button>
        </div>
        <div class="tableroEstrellas">
        <table>
            <tr>
                <td></td>
                <td> </td>
                <td> <img class="planeta" src="./assets/imagenes/planeta_verde_azul.png"></td>
                <td> </td>
                <td></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> 
                    <img class="nave" src="./assets/imagenes/nave_caza.png">
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img class="planeta" src="./assets/imagenes/planeta_amarillo.png"></td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td><img class="planeta" src="./assets/imagenes/planeta_rojo.png"></td>
            </tr>
        </table>
        </div>
        <div>
            <button class="botonManejar">Manejar Nave</button>
        </div>
   </body>
</html>
