<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Header -->
<div class=" w3-black w3-center" style="padding:110px 16px">
    <h1 class="w3-margin w3-jumbo">Bienvenido a Comerciante Espacial </h1>
  <p class="w3-xlarge">Oprime el botón "Comenzar" para iniciar el viaje espacial</p>
  <div style="height: 40px;"></div>
  <button (click)="redirigir()" mat-raised-button color="basic" >Comenzar</button>

</div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>¿Cómo puedes jugar?</h1>
      <h5 class="w3-padding-32">Cuando te encuentres en la pantalla de navegación, puedes clickear sobre las diferentes estrellas en pantalla para obtener información acerca de dicha estrella. Si deseas visitar una estrella debes dar click en el botón "Visitar Estrella". En caso de querer visitar una estrella diferente, debes oprimir "Manejar Nave".</h5>

      <p class="w3-text-grey">Recuerda que no todas las estrellas poseen planetas por visitar!</p>
    </div>

    <div class="w3-third w3-center">
        <img src="../../../../assets/nave.jpg" width="90%" alt="nave espacial">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
        <img src="../../../../assets/comercio.jpg" width="90%" alt="comercio">
    </div>

    <div class="w3-twothird">
      <h1>En caso de que quieras comprar y vender...</h1>
      <h5 class="w3-padding-32">Para poder efectuar una transacción debes visitar una estrella que contenga planetas en los cuales puedes comprar o vender productos.</h5>

      <p class="w3-text-grey">Una vez te encuentres en un planeta, podrás seleccionar un producto de una lista que contiene los productos disponibles por planeta con su respectivo factor de oferta, factor de demanda y stock disponible. Una vez seleccionado el producto, puedes comprar o vender la cantidad que ingreses, siempre y cuando tengas el dinero o el producto suficiente para realizar esta acción.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">¡Buena suerte viajero!</h1>
</div>
