<html>
   <body>
       <img class="imagenEspacio" src="./assets/imagenes/espacio_exterior.jpg">
       
        <div>
            <div style="display: flex;">
                <div>
                    <div class="divSuperior">
                        <button class="boton">Comprar</button>
                        <button class="boton">Vender</button>
                    </div>
                    <div class="divPlaneta">
                        <img class="planeta" src="./assets/imagenes/planeta_rojo.png">
                        <img class="nave" src="./assets/imagenes/nave_caza.png">

                    </div>
                    <div class="divInferior">
                        <button class="botonCerrar">Cerrar Lista</button>
                    </div>
                </div>
                <div class="divPergamino">
                    <img class="pergamino" src="./assets/imagenes/pergamino.png">
                </div>
            </div>
        </div>
      
   </body>
</html>
